/* FONTS */
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
        url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
        url("../fonts/roboto-v30-latin-700.woff") format("woff");
}

/* ROOT */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* HEADER STYLES START */
.site-header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__wrapper--end {
    display: flex;
    align-items: center;
}

.site-header__nav {
    margin-right: 40px;
}

.site-header__nav--list {
    display: flex;
}

.site-header__nav--item:not(:last-child) {
    margin-right: 30px;
}

.site-header__nav--link {
    font-size: 15px;
    line-height: 150%;
    color: #333;
}

.site-header__input {
    font-size: 15px;
    line-height: 150%;
    color: #666;
    border-bottom: 1px solid #333;
}

/* HEADER STYLES END */

/* HERO STYLES START */
.hero {
    padding-top: 140px;
    padding-bottom: 185px;
    background-image: url("../images/hero-bg-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(50% + 650px) bottom;
    border-bottom: 2px solid #ddd;
}

.hero__start {
    width: 100%;
    max-width: 495px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #000;
}

.hero__desc {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 150%;
    color: #777;
    border-left: 3px solid #888;
}

.hero__btn {
    display: inline-block;
    padding: 12px 38px;
    background-color: #EA625C;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;
}
/* HERO STYLES END */
